<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="appointment">
            <h2><span>Appointment</span> {{appointment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Visitorname</span></dt>
                <dd>
                    <span>{{appointment.visitorname}}</span>
                </dd>
                <dt><span>Time</span></dt>
                <dd>
                    <span>{{appointment.time}}</span>
                </dd>
                <dt><span>Comments</span></dt>
                <dd>
                    <span>{{appointment.comments}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/appointment', appointment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
