<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transaction">
            <h2><span>Transaction</span> {{transaction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{transaction.amount}}</span>
                </dd>
                <dt><span>Transactiondate</span></dt>
                <dd>
                    <span>{{transaction.transactiondate}}</span>
                </dd>
                <dt><span>Savingsaccount</span></dt>
                <dd>
                    <div *ngIf="transaction.savingsaccountId">
                        <a [routerLink]="['/savingsaccount', transaction.savingsaccountId, 'view']">{{transaction.savingsaccountAccountnumber}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction', transaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
